<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="optiim" packages="com/optiim/stepDefinition">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
</Configuration>